<ion-content [fullscreen]="true" class="splash-content">

  <!-- Ambient orbs -->
  <div class="orb orb-top"></div>
  <div class="orb orb-bottom"></div>

  <!-- Floating particles -->
  <div class="particle particle-1"></div>
  <div class="particle particle-2"></div>
  <div class="particle particle-3"></div>

  <!-- Centre content -->
  <div class="splash-center">

    <!-- Logo ring with embedded base64 logo -->
    <div class="logo-ring">
      <img
        src="https://scontent.fdur5-1.fna.fbcdn.net/v/t39.30808-1/647141569_924108493431298_6230151781270152750_n.jpg?stp=dst-jpg_s200x200_tt6&_nc_cat=105&ccb=1-7&_nc_sid=e99d92&_nc_ohc=TGuYnSZKHA8Q7kNvwGqXqyk&_nc_oc=AdnLrWjs6SLszIs6w1enAPqX-PM6E6ozDi7uc_VaNernzTJem2lcvxGIYwctvkzyTIU&_nc_zt=24&_nc_ht=scontent.fdur5-1.fna&_nc_gid=8s1wOobL4jOlaHNNDiNZ8g&_nc_ss=8&oh=00_AfwZJGU4_dou25xqzekZjaXurANTZ7X1d_Vm3LJAbeQYUg&oe=69B11D46"
        alt="SheSafe Logo"
      />
    </div>

    <!-- App name -->
    <h1 class="app-name">SheSafe</h1>

    <!-- Tagline -->
    <p class="app-tagline">Empowering students through information</p>

    <!-- Animated loading bar -->
    <div class="loader-track">
      <div class="loader-fill" [style.width.%]="loadProgress"></div>
    </div>

  </div>

</ion-content>
